:root {
  --primary: rgb(0, 0, 0);
  --secondary: rgb(223, 223, 34);
  --light: rgb(255, 255, 255);
  --green: #2acb97;
  --background-color: rgba(1, 1, 1, 0.5);
  /* --secondary: rgb(223, 223, 34); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--background-color);
  background-image: url("../img/games-store.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  margin: 0;
}

#root {
  background-color: rgba(1, 1, 1, 0.4);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

/* h4 {
  font-size: 1.5rem;
} */

p {
  font-size: 1.7rem;
  line-height: 2;
}

a {
  text-decoration: none;
  /* text-transform: uppercase; */
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.container {
  position: relative;
  width: 100%;
  /* max-width: 1300px; */
  min-height: 83vh;
  padding: 4%;
  margin: 0 auto;
  text-align: center;
  color: white;
  /* background-color: rgba(1, 1, 1, 0.8); */
}

section {
  /* height: 100%; */
  width: 100%;
  max-width: 1100px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.section-inner {
  height: 100%;
  margin: auto;
  padding: 2rem;
}

.section-title {
  height: 60px;
  width: 100%;
  margin: 0 auto 2rem;
  text-align: center;
  line-height: 60px;
  background: var(--light);
  color: var(--primary);
}

.empty-list {
  padding: 2rem 4rem;
  text-align: center;
  height: 100%;
  margin: auto;
}

.hide {
  display: none !important;
}

.show {
  display: inline-block;
}

.show h2 {
  padding: 2rem 2rem 0 2rem;
  color: black;
}

.primary {
  background: var(--primary);
  color: var(--light);
}

.primary:hover {
  background: var(--light);
  color: var(--primary);
}

.secondary {
  background: var(--secondary);
  color: var(--primary);
}

.secondary:hover {
  background: var(--primary);
  color: var(--secondary);
}

.green {
  background-color: var(--green);
  color: white;
}

.page-title {
  display: none;
}

/* .svg-inline--fa.fa-w-16 {
  width: 100px;
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
