:root {
  --purple: #590735;
  --green: #2acb97;
  --background-color: rgba(1, 1, 1, 0.7);
}

html {
  font-size: 10px;
}

@media (max-width: 500px) {
  html {
    font-size: 40%;
  }
}

#root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  background: url("../games-store.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  min-height: 100vh;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  /* font-weight: 900; */
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.container {
  text-align: center;
  color: white;
  background-color: rgba(1, 1, 1, 0.7);
  width: 100%;
  margin: auto;
  height: 100%;
  min-height: 80vh;
  padding-top: 40px;
}

.header {
  margin: 0 auto;
  /* padding: 24px; */
  height: 80px;
  /* padding-bottom: 20px; */
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
}

.mobile-nav-btn {
  margin-right: auto;
  display: inline-block;
}

h1 {
  color: white;
  margin: 0;
  font-size: 3rem;
  width: 100%;
}

.hide {
  display: none;
}
.white {
  background-color: white;
  color: black;
  /* border-bottom: 1px solid black; */
}

.green {
  background-color: var(--green);
  color: white;
}

.black {
  background-color: black;
  color: white;
}

.purple {
  background-color: var(--purple);
  color: white;
}

.nav-tab .purple:hover {
  background-color: rgb(89, 43, 89);
}

.blue {
  background-color: rgb(76, 157, 208);
  color: white;
}

.nav-tab .blue:hover {
  background-color: rgb(32, 127, 155);
}

.section-title {
  height: 60px;
  width: 100%;
  margin: auto;
  text-align: center;
  line-height: 60px;
}

.page-title {
  display: none;
}

.scrollTop {
  position: fixed;
  width: 100px;
  bottom: 20px;
  align-items: center;
  height: 60px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.7;
}

.scrollTop:hover {
  opacity: 1;
}

.svg-inline--fa.fa-w-16 {
  width: 100px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@media (max-width: 1500px) {
  .container {
    /* border-right: 15px solid black; */
    /* border-left: 15px solid black; */
  }
}

@media (max-width: 900px) {
  .header {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .header {
    font-size: 14px;
    padding: 10px;
  }
}
