.btn {
  padding: 8px;
  margin: 8px;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

.store .actions .btn {
  font-size: 15px;
  margin: 0px;
  padding: 20px;
  border-radius: 0;
  width: 50%;
}

.video-game-page .actions .btn {
  font-size: 20px;
  margin: 20px;
  padding: 15px;
}

.add-btn {
  background-color: black;
  color: white;
}

.btn:hover {
  transform: scale(1.1);
}

.black-btn {
  background-color: rgb(56, 62, 59);
  color: rgb(237, 235, 235);
}

.black-btn:hover {
  background-color: rgb(36, 41, 38);
  color: rgb(255, 255, 255);
  /* border: 1px solid black; */
}

.gray-btn {
  background-color: rgb(232, 232, 232);
  color: black;
}

.gray-btn:hover {
  background-color: black;
  color: rgb(255, 255, 255);
}

.white-btn {
  background-color: white;
  color: black;
}

.white-btn:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.trash-btn {
  font-size: 24px;
  width: 30px;
  margin: 0 auto;
  cursor: pointer;
}

.trash-btn:hover {
  color: rgb(143, 3, 3);
}

.cross-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 24px;
  color: red;
  width: 15px;
  margin: 0 auto;
  cursor: pointer;
  align-self: center;
}

/* .cross-btn:hover{
    color:rgb(143, 3, 3);;
  } */

.actions-lists {
  padding: 20px;
  margin: 0 40px;
  align-items: center;
  display: flex;
  text-align: start;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-list {
  width: 214px;
}

.btn:disabled,
.disabled {
  background-color: black;
  color: white;
  cursor: default;
}

.remove-btn {
  background-color: black;
  color: white;
}

.remove-btn:hover {
  background-color: rgb(235, 57, 26);
}
