.cart {
    height: 100%;
  }
  
  .cart-list {
    background-color: cadetblue;
    margin: 0;
    padding: 40px 20px;
    min-height: 600px;
  }
  
  .video-game-cart {
    /* padding: 0 10px; */
    background-color: rgb(255, 255, 255);
    margin: 10px 60px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
    font-weight: 800;
    height: 150px;
    font-size: larger;
    text-align: left;
    border-bottom-right-radius:20px ;
    border-top-right-radius:20px ;
  
    /* border-bottom: 1px solid black; */
  }
  .video-game-cart:hover{
    background-color:black;
    color: white;
  
  }
  
  .video-game-cart .cover{
    height: 150px;
    width: 250px;
  }
  
  .video-game-cart h3{
    text-align: left;
    padding-left: 40px;
  }
  
  .video-game-cart .price{
    font-size: 24px;
    text-align: center;
  }
  
  .remove-btn{
    background-color: white;
    color: black;
    /* border: 1px solid black; */
    font-weight: 900;
    margin-right: 28px;
    padding: 16px;
  }
  
  .remove-btn:hover{
    background-color: cadetblue;
    color: white;
  }
  
  .cart .empty-cart {
    font-size: 32px;
    color: black;
    padding: 32px;
    padding-top: 64px;
  }
  
  .cart-total {
    background-color: white;
    padding: 32px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: 24px;
    font-weight: 900;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
  
  }
  