.wishlist-section {
  width: 100%;
  margin: 0 auto 40px auto;
  position: relative;
  padding: 3rem 0;
  background-color: rgba(255, 255, 255, 0.6);
}

.wishlist-section .icon-btn {
  position: relative;
  right: 0;
  top: 0;
}
.wishlist-section .icon-btn:hover {
  font-size: 3rem;
  right: 0;
  top: 0;
}

.cart {
  height: 90%;
  margin-bottom: 8rem;
}

.cart-list {
  margin: 0;
  padding: 3rem;
  /* min-height: 700px; */
}

.cart-item {
  /* padding: 0 10px; */
  background-color: var(--primary);
  margin: 10px 60px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  align-items: center;
  font-weight: 800;
  height: 150px;
  font-size: larger;
  text-align: left;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.cart-item > a:first-child {
  height: 100%;
}

.cart-item .cover {
  /* height: 150px; */
  /* width: 250px; */
  width: 100%;
  height: 150px;

  object-fit: cover;
}

.cart-item h4 {
  text-align: left;
  padding-left: 3rem;
  /* color: var(--primary); */
}

.cart-item .price {
  font-size: 2rem;
  text-align: center;
  color: white;
}

.empty-cart {
  font-size: 2rem;
  color: white;
}

.cart-total {
  /* position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  width: 90%; */
  margin: 10px 60px;
  padding: 3rem 0;
  background-color: var(--secondary);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
}

@media (max-width: 1250px) {
  .cart-item {
    height: 120px;
  }
  .cart-item .cover {
    height: 120px;
  }
}

@media (max-width: 900px) {
  .cart-item {
    margin: 10px;
    grid-template-columns: 2fr 3fr 1fr 1fr;
    height: 100px;
  }
  .cart-item .cover {
    height: 100px;
  }
}

@media (max-width: 500px) {
  .cart-item {
    height: 60px;
  }
  .cart-item .cover {
    height: 60px;
  }
  .cart-item h3 {
    padding-left: 10px;
  }
}
