.leaderboard {
    height: 100%;
    /* padding: 20px; */
  }
  
  #lBoard {
    margin: 0 auto;
    width: 90%;
    /* padding: 40px 20px; */
    background-color:transparent;
    color: black;
    border: none;
    border-collapse:separate; 
    border-spacing: 0 12px;
  }
  
  #lBoard .title{
    display: none;
  }

  #lBoard .search{
    background-color: transparent;
  }

  #lBoard .search td{
    text-align: left;
    grid-column: 1/3;
    grid-row: 1;
    width: 100%;
    height: 50px;
  }

  #lBoard .search input{
    padding: 20px;
    width: 300px;
  }

  table td {
    border: none;
    text-align: center;
    vertical-align: middle;
    /* border-radius: 15px; */
  }

  #lBoard .table-headers{
    background-color: black;
    color: white;
    border-radius:20px ;

  }


  #lBoard tr{
    /* padding: 10px; */
    color: black;
    background-color: rgb(223, 222, 222);
    margin: 10px 60px;
    display: grid;
    grid-template-columns: 3fr 2fr 4fr 2fr;
    align-items: center;
    font-weight: 800;
    height: 180px;
    font-size: 24px;
    border-radius:20px ;
    /* text-align: left; */
    /* border-top-right-radius:20px ; */
    /* border-bottom-right-radius:20px ; */
    /* border: 1px solid black; */
  }



  #lBoard .rank, #lBoard .cover, #lBoard .score {
    text-align: center;
  }

  #lBoard .rank, .score{
    width: 100%;
    margin: 0 auto;
    font-size: 30px;
  }

  #lBoard .cover{
    height: 180px;
    width: 100%;
    margin: 0 auto;
    margin-left: -1px;
    margin-top: -0.5px;
    border-top-left-radius:20px ;
    border-bottom-left-radius:20px ;
  }
  
  #lBoard .name, .name-header{
    text-align: left;
    margin-left: 15px;
  }

  #lBoard .gold .rank , #lBoard .silver .rank , #lBoard .bronze .rank  {
    font-size: 50px !important;
  }

  .gold {
    background-color: rgb(230, 205, 12) !important;
  }

  .silver {
    background-color: lightslategray !important;
  }

  .bronze {
    background-color: rgb(222, 165, 68) !important;
  }

  .video-game-cart h3{
    text-align: left;
    padding-left: 40px;
  }
  
  .video-game-cart .price{
    font-size: 24px;
    text-align: center;
  }
  

  .cart .empty-cart {
    font-size: 32px;
    color: black;
    padding: 32px;
    padding-top: 64px;
  }
  
  .cart-total {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    background-color: white;
    padding: 32px 100px;
    /* display: flex; */
    align-items: center;
    /* justify-content: space-between; */
    color: black;
    font-size: 24px;
    font-weight: 900;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
  }
  
  .cart-total .nb-articles {
    grid-column: 2/4;
    grid-row: 1;
    text-align: left;
  }
  .cart-total .total-price {
    grid-column: 3/4;
    grid-row: 1;
  }

  .image-leaderboard {

  }