.library {
  height: 100%;
  width: 100%;
  margin: auto;
}

.library-section {
  width: 100%;
  margin: 0 auto 40px auto;
  position: relative;
  padding: 3rem 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.added-games-list {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.added-games-list .price {
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
  color: white;
}

.top-games {
  background-color: var(--primary);
}

.custom-lists {
  background-color: var(--secondary);
}

.custom-lists .search-bar {
  border-radius: 10px;
}

.empty-library {
  font-size: 1.5rem;
  color: black;
  padding: 3rem;
  padding-top: 5rem;
  text-align: center;
}

.empty-list {
  color: white;
}

.video-game-library {
  position: relative;
  width: 300px;
  background-color: white;
  margin: 20px;
  font-weight: 800;
  font-size: larger;
  border-radius: 20px;
}

.video-game-library h4,
.video-game-library h3 {
  padding: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary);
}

.video-game-library:hover {
  background-color: var(--primary);
}

.video-game-library:hover h3,
.video-game-library:hover h4 {
  color: white;
  /* margin: 8px; */
  /* margin-top: 0; */
}

.video-game-library .ranking {
  position: absolute;
  font-size: 5rem;
  left: 8px;
  z-index: 10;
  color: var(--secondary);
}

.video-game-library .cover {
  height: 160px;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}

.video-game-library .btn {
  font-size: 1rem;
  padding: 1rem;
  margin: 0.5rem;
}

.icon-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  width: 15px;
  margin: 0 auto;
  cursor: pointer;
  align-self: center;
  transition: all 0.5s ease;
}

.icon-btn:hover {
  font-size: 5rem;
  right: 3rem;
  top: 0rem;
}

.cross {
  color: red;
  z-index: 10;
}

.top-games .video-game-library {
  width: 50%;
  margin: 2rem auto;
  cursor: grab;
}

.top-games .video-game-library .cover {
  height: 200px;
  object-fit: cover;
  cursor: grab;
}

.top-games .video-game-library::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
}

.top-games .video-game-library:hover {
  background: var(--secondary);
}
@media (max-width: 880px) {
  .mobile .video-game-library {
    width: 200px;
    height: 200px;
    margin: 10px;
  }

  .mobile .video-game-library .cover {
    width: 100%;
    height: 60%;
  }

  .video-game-library h4 {
    padding: 0;
    margin: 0;
  }

  .top-games .video-game-library {
    width: 80%;
    margin: auto;
  }
  .added-games-list {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 540px) {
  .library {
    width: 100%;
  }
  .mobile .video-game-library {
    width: 140px;
    height: 140px;
    margin: 5px;
  }

  .mobile .video-game-library .cover {
    width: 100%;
    height: 60%;
  }
  .top-games .video-game-library .cover {
    height: 100px;
  }
}
