.library {
  background-color: rgba(255, 255, 255, 0.8);
}

.games-list {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.games-list .price {
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
  color: white;
}

.library-item {
  position: relative;
  width: 300px;
  background-color: white;
  margin: 20px;
  font-weight: 800;
  font-size: larger;
  border-radius: 20px;
}

.library-item h4,
.library-item h3 {
  padding: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary);
}

.library-item:hover {
  background-color: var(--primary);
}

.library-item:hover h3,
.library-item:hover h4 {
  color: white;
}

.library-item .ranking {
  position: absolute;
  font-size: 5rem;
  left: 8px;
  z-index: 10;
  color: var(--secondary);
}

.library-item .cover {
  height: 160px;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}

.library-item .btn {
  font-size: 1rem;
  padding: 1rem;
  margin: 0.5rem;
}

@media (max-width: 880px) {
  .mobile .library-item {
    width: 200px;
    height: 200px;
    margin: 10px;
  }

  .mobile .library-item .cover {
    width: 100%;
    height: 60%;
  }

  .library-item h4 {
    padding: 0;
    margin: 0;
  }

  .favorites .library-item {
    width: 80%;
    margin: auto;
  }
  .games-list {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 540px) {
  .library {
    width: 100%;
  }
  .mobile .library-item {
    width: 140px;
    height: 140px;
    margin: 5px;
  }

  .mobile .library-item .cover {
    width: 100%;
    height: 60%;
  }
  .favorites .library-item .cover {
    height: 100px;
  }
}
