.custom-lists {
  margin-top: 5rem;
}

.custom-lists .section-title {
  background-color: var(--secondary);
  color: var(--primary);
}

.custom-lists .search-bar {
  border-radius: 10px;
}

.custom-lists .empty-list {
  margin: auto;
}

.custom-lists .empty-list h3 {
  margin-bottom: 3rem;
}

.custom-lists .empty-list .indications {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  text-align: left;
  grid-gap: 2rem;
}
.custom-lists .empty-list .indications > div {
  height: 220px;
  padding: 0 2rem 2rem 2rem;
  background: white;
  color: black;
  border-radius: 20px;
}

.custom-lists .empty-list .indications p strong {
  color: var(--secondary);
  font-size: 4rem;
  display: block;
  text-align: center;
}

.custom-lists .empty-list .indications p span {
  color: var(--secondary);
  font-size: 2rem;
  font-weight: 800;
}

.custom-lists .add-btn {
  background-color: var(--primary);
  color: white;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  padding: 2rem 1rem;
  margin: auto;
}

.list {
  background-color: var(--primary);
  border-radius: 15px;
  margin: 1rem;
  border: 2px solid var(--secondary);
}

.list .title {
  font-weight: 800;
  text-transform: uppercase;
}

.list .total {
  /* background-color: var(--primary); */
  font-size: 1.5rem;
  padding: 2rem 1rem;
  display: block;
  font-weight: 400;
  width: auto;
  margin-bottom: 0;
}

.list button {
  margin: 0 auto;
  cursor: pointer;
  font-size: 1rem;
  font-style: italic;
  text-transform: lowercase;
  border: none;
  color: red;
  background: transparent;
}

.trash {
  margin: 0 15px;
  font-size: 20px;
}

.sortable-list {
  margin: 4rem auto;
}
