.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
  }

  .navbar a {
  width: 40%;
  height: 100%;
  }
  
  .navbar .btn{
    margin: 0;
  }
  
  .nav-tab {
    padding: 20px 0;
    border-radius: 0;
  }
  
  .nav-tab span{
    font-size: 28px;
    font-weight: 900;
  }

  .nav-tab:hover {
    opacity: 150%;
  }

  .sticky {
    position: sticky;
    top: 0;
    z-index: 100; 
    border-top: 10px solid black;
    border-bottom: 10px solid black;
  }

.nav-icon{
  font-size: 24px;
  margin-right: 20px;
}

.svg-inline--fa.fa-w-16 {
  width: auto;
}

  @media (max-width: 1250px){
    .nav-tab span{
      font-size: 25px;
    }
  }

  @media (max-width: 950px){
    .nav-tab span{
      font-size: 20px;
    }
  }

  @media (max-width: 790px){
    .nav-tab span{
      font-size: 15px;
    }
  }

  @media (max-width: 670px){
    .nav-tab span{
      font-size: 12px;
    }
  }