.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
  }

  .navbar a {
  width: 40%;
  height: 100%;
  }
  
  .navbar .btn{
    margin: 0;
  }
  
  .nav-tab {
    padding: 20px;
    border-radius: 0;
  }
  
  .nav-tab span{
    font-size: 32px;
    font-weight: 900;
  }

  .nav-tab:hover {
    opacity: 150%;
  }

  