.store {
  margin: auto;
  /* width: 80%; */
  position: relative;
}

.store .heading {
  margin: auto;
  padding: 2rem;
  font-size: 3rem;
}

.store-list {
  margin: 0 auto;
  padding: 10px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.game-card {
  margin: 30px;
  width: 400px;
  font-weight: 500;
  background-color: var(--primary);
  border-radius: 10px;
}

.game-card .title {
  color: var(--light);
  padding: 1.8rem;
  margin: 0;
  font-size: 1.8rem;
}

.game-card .price {
  font-size: 16px;
  padding: 15px;
  color: var(--light);
}

.game-card:hover {
  background-color: rgb(12, 12, 12);
}

.game-card:hover h3,
.game-card:hover .price {
  color: var(--light);
}

.game-card .caroussel {
  height: 200px;
}

.game-card .caroussel img {
  height: 200px;
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  /* border-radius: 10px; */
}
.game-card .caroussel .slick-prev:before,
.game-card .caroussel .slick-next:before {
  color: rgb(255, 255, 255);
}

.game-card .slick-next {
  right: 8px;
}
.game-card .slick-prev {
  left: 8px;
  z-index: 1;
}

.rating-price {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1570px) {
  .game-card {
    margin: 30px 10px;
  }
  .scrollTop {
    /* right: 12px; */
  }
}

@media (max-width: 1470px) {
  .store-list {
    margin: 30px auto;
    width: 70%;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
  .game-card {
    margin: 30px auto;
  }
}

@media (max-width: 1170px) {
  .store-list {
    width: auto;
    gap: 20px;
  }
}

@media (max-width: 950px) {
  .store-list {
    margin: 10px auto;
    display: inline-block;
  }
  .game-card {
    margin: 0 auto 20px auto;
    width: 500px;
    height: auto;
  }
  .game-card .caroussel {
    height: auto;
  }
  .game-card .caroussel img {
    height: 300px;
  }
}
